html, body,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
}
.container.header {
  background: #f3f3f3;
}
.header {
  background: $primary-color;
  background-color: $primary-color;
  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px;
    .logo_white {
      width: 128px;
    }
    .user_icon {
      width: 32px;
    }
  }
}
.sub-header {
  background: #d65600;
  background-color: #d65600;
    .columns {
      padding-bottom: 5px;
      padding-right: 10px !important;
      padding-left: 10px !important;
      padding-top: 5px;
      color: #fff;
      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        .icons {
          width: 20px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: bottom;
        }
      }
      th {
        text-align: center;
      }
      .menu-divider {
        display: block;
        height: 20px;
        width: 1px;
        background: #ff690f;
        background-color: #ff690f;
      }
    }
  }
  .deal_of_day {
    background: #13191f;
    background-color: #13191f;
    .columns {
      th {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
    img {
      padding-bottom: 20px;
    }
    h2{
      color: #fff;
      font-weight: 900;
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p{
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 15px;
    }
    span {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      display: block;
      &.save_amount {
        font-size: 14px;
      }
      &.tiny_info {
        font-size: 10px;
        font-weight: 30px;
        padding-bottom: 10px;
      }
      &.price {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
    .button {
      display: inline-block;
      width: 160px;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      border: 1px solid #fff;
      border-radius: 3px;
      margin-bottom: 10px;
    }
  }
  .content-area {
    background: #f1f4f7;
    background-color: #f1f4f7;
    & > tbody > tr > th {
      padding-top: 0;
    }
    .offer {
      background: #fff;
      background-color: #fff;
      .first-offer {
        padding-top: 16px;
      }
      .columns {
        th {
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        & > table {
          max-width: 568px;
          table-layout: fixed;
        }
      }
      img {
        padding-bottom: 20px;
      }
      h2 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
      }
      p {
        color: #334755;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 15px;
      }
      span {
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        display: block;
        &.save_amount {
          font-size: 14px;
          color: #1a88f3;
        }
        &.tiny_info {
          color: #334755;
          font-size: 10px;
          font-weight: 300;
          padding-bottom: 10px;
        }
        &.price {
          color: #334755;
          font-size: 20px;
          font-weight: 600;
          padding-bottom: 10px;
        }
      }
      .button {
        background: #14181c;
        background-color: #14181c;
        display: block;
        width: 150px;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid #fff;
        border-radius: 3px;
        color: #fff;
        margin: 0 auto;
        &:hover {
          color: $primary-color;
        }
      }
      &.last-offer {
        .group-icons {
          margin: 0 auto;
          padding-bottom: 0;
          width: 190px;
        }
        h5 {
          color: #334755;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          padding-bottom: 0px;
        }
        p {
          color: #334755;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          padding-bottom: 20px;
        }
      }
    }
  }
.footer {
  background: #000;
  background-color: #000;
  .footer-container {
    background: #000;
    background-color: #000;
  }
}

